@media screen and (max-width: 1500px) {
    img {
        width: 400px;
        height: 500px;
    }
    .container {
        width: 400px;
        height: 1000px;
        padding: 28px;
    }
    h1 {
        font-size: 80px;
        padding: 0;
    }
    
    
}